@page

@using RazorPagesIntro

@{
    Cat c = new Cat();
    DateTime dateTime = DateTime.Now;
    Random rnd = new Random();

    string name = "Jens-Ole";
    int age = 29;

    string message = "Hej med jer";


    c.color = "green";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>the cat is @c.color</h2>

    @for (int i = 0; i < 3; i++)
    {
        <div style="background-color:lightgrey; margin-bottom:10px;">
            <p>
                @name på @age siger: @message
            </p>
            <p>
                Jeg har @rnd.Next(1,7) hår på hovedet
            </p>
            <p>
                BeskedId : @i
            </p>
            <p>
                Timestamp : @dateTime.ToLongDateString();
            </p>
        </div>
    }
</body>
</html>